#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DBUILD_QT5=ON -DBUILD_QT6=ON -DWITH_DECORATIONS=OFF

#override_dh_install:
	# This is required to make sure Plasma does not
	# fall back to a cursor theme from the 90's
	#CURDIR=$(CURDIR) $(CURDIR)/debian/wrapperthemes.sh breeze_cursors \
	#                                                   Breeze_Snow
	#dh_install
